
body {
    background-color: #f4e1e6;
    text-align: center;
    font-size: 16px;
}

.navbar {
    background-color: #333333;
    font-size: large;
}

a {
    color: #f1f9f9;
}

a:hover {
    color: #096ac5;
  }
  
.buttonHolder{ 
    text-align: center;
    float:none;
 }

.element {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

.container{
    width: 100%;
}

.left-div{ 
    width: 50%;
    float:left;
}

.right-div{ 
    float:right;
    width: 50%;
}